html, body, div, span, 
blockquote, pre,
a, abbr, acronym, address, big, cite, code,
img, ins, kbd, q, s, samp,
small, strike, strong, 
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
 
table {
    border-collapse: collapse;
    border-spacing: 0;
}


body {
   /* background: #E1E1E1;*/
    font-family: 'Helvetica Neue', Helvetica-Neue, HelveticaNeue, Arial, sans-serif;
}

.main-nav{
	width: 100%;
	height:60px;
	position: fixed;
	background-color: gray;
	z-index: 100;
	background:rgba(0,0,0,0);
	-webkit-transition: 0.5s linear; /* Changed here */ 
     -moz-transition: 0.5s linear;
       -o-transition: 0.5s linear;
          transition: 0.5s linear;
}

.main-nav .logo{
    float: left;
    margin-left: 10%;
    margin-top:15px;
}
.main-nav ul{
	float: right;
    margin-top: 22px;
    width: 500px;
}
.main-nav ul li{
	display: inline;
	/*float: right;*/
	margin-top: 50%;
	margin-left: 5%;
}
.main-nav ul li a{
	color: white;
}
.main-nav ul .home{
	/*margin-left: 50%;*/
}
.main-nav ul li a:hover{
	/*margin-left: 55%;*/

	text-decoration: none;
	border-bottom: 2px solid white;
}
.main-nav ul li a.active{
	border-bottom: 2px solid white;
	/*margin-left: 55%;*/
}






.main-nav.scrolled{
	background-color:gray;
	background-color: white;
}
.main-nav.scrolled a{
	color:black;
}
.main-nav.scrolled ul li a:hover{
	/*margin-left: 55%;*/

	text-decoration: none;
	border-bottom: 2px solid black;
}
.main-nav.scrolled ul li a.active{
	border-bottom: 2px solid black;
	/*margin-left: 55%;*/
}


.banner{
	background-image: url('../img/banner.jpg');
	background-repeat: no-repeat;
	display:block;
	height:500px;
	 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.banner .bg-banner {

}
.banner .text-banner{
	position: relative;
	margin-top: 100px;
	/*margin-left: 30%;*/
}
.banner button{
	position: relative;
	top:20px;
}

.intro1{
	margin-top: 50px;
	height: 500px;

}
.intro1 h1{
	text-align: center;
	margin-bottom: 50px;
}
.intro1 .row img {
    width: 50%;
    height: auto;
    margin-bottom: 30px;
}

.intro1 p{
	text-align: center;
	margin-bottom: 30px;
	margin-top: 30px;

}



.main-footer{
	margin-top: 50px;
	height: 200px;
	background-color: gray;
}

.login-btn{
	text-align: right;
}


.intro1 h1{
	margin: 0px;
	padding:0px;
}

.intro1 .row .col-md-3 h1{
	margin: 0px;
	padding: 0px;
	margin-bottom: 30px;
}

