<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>CourseVillage</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<link rel="stylesheet" href="../css/course.css">


</head>
<body>
	
	<nav class="main-nav">
		<div class="logo"><a href="../index.html"><img src="../img/logo.png"></a></div>
		<ul>
			<li class="home"><a  href="../index.html">Home</a></li>
			<li><a class="active" href="course.html">Course</a></li>
			<li><a href="about.html">About us</a></li>
			<li><a href="profile.html">Profile</a></li>
			<li><a href="../index.html">Logout</a></li>
		</ul>
	</nav>


	<div class="container">
	  	
	  	<div class="row intensive">
	      	<div class="page-header">
  			<h1>Intensive Course</h1>
			</div>






<div class="row">
				<div class="col-md-4">
			    <div class="thumbnail">
			    	<img class="course" src="../img/inten04.png" alt="...">
			    	<div class="caption">
			        	<h3>ย้อมสีผ้าด้วย “คราม” โดย Studio Naenna</h3>
			        	<p>สัมผัสกับภูมิปัญญาของคนไทยในการเนรมิตและสร้างสรรค์ลวดลายบนผืนผ้าด้วยการมัดย้อม พร้อมเรียนรู้เทคนิคสร้างสรรค์ผลงานผ้ามัดย้อมให้กลายเป็นเสื้อผ้า และกระเป๋า</p>
			        	<p> <a href="#" class="btn btn-default" role="button">Button</a></p>
			      </div>
			    </div>
			</div>
			<div class="col-md-4">
			    <div class="thumbnail">
			      	<img class="course" src="../img/inten02.png" alt="...">
			      	<div class="caption">
			        	<h3>จัดสวนจิ๋วในขวดแก้ว</h3>
			        	<p>พื้นที่สีเขียวเล็กๆที่คุณสามารถสร้างสรรค์เองได้ และออกแบบในรูปแบบของตัวเองได้</p>
			        	<p> <a href="#" class="btn btn-default" role="button">Button</a></p>
			      	</div>
			    </div>
			</div>
			<div class="col-md-4">
			    <div class="thumbnail">
			      	<img class="course" src="../img/inten01.png" alt="...">
			      	<div class="caption">
			        	<h3>Thumbnail label</h3>
			        	<p>...</p>
			        	<p> <a href="#" class="btn btn-default" role="button">Button</a></p>
			      	</div>
			    </div>
			</div>
			</div>

			<div class="row">
				<div class="col-md-4">
			    <div class="thumbnail">
			    	<img class="course" src="../img/basic1.jpg" alt="...">
			    	<div class="caption">
			        	<h3>จัดสวนจิ๋วในขวดแก้ว</h3>
			        	<p>พื้นที่สีเขียวเล็กๆที่คุณสามารถสร้างสรรค์เองได้ และออกแบบในรูปแบบของตัวเองได้</p>
			        	<p> <a href="#" class="btn btn-default" role="button">Button</a></p>
			      </div>
			    </div>
			</div>
			<div class="col-md-4">
			    <div class="thumbnail">
			      	<img class="course" src="../img/inten03.png" alt="...">
			      	<div class="caption">
			        	<h3>Thumbnail label</h3>
			        	<p>...</p>
			        	<p> <a href="#" class="btn btn-default" role="button">Button</a></p>
			      	</div>
			    </div>
			</div>
			<div class="col-md-4">
			    <div class="thumbnail">
			      	<img class="course" src="../img/basic3.jpg" alt="...">
			      	<div class="caption">
			        	<h3>Thumbnail label</h3>
			        	<p>...</p>
			        	<p> <a href="#" class="btn btn-default" role="button">Button</a></p>
			      	</div>
			    </div>
			</div>

			</div>



			<div class="row">
				<div class="col-md-4">
			    <div class="thumbnail">
			    	<img class="course" src="../img/basic2.jpg" alt="...">
			    	<div class="caption">
			        	<h3>จัดสวนจิ๋วในขวดแก้ว</h3>
			        	<p>พื้นที่สีเขียวเล็กๆที่คุณสามารถสร้างสรรค์เองได้ และออกแบบในรูปแบบของตัวเองได้</p>
			        	<p> <a href="#" class="btn btn-default" role="button">Button</a></p>
			      </div>
			    </div>
			</div>
		</div>
	</div>

			


			      	
		</div>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	
</body>
</html>