<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>CourseVillage</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<link rel="stylesheet" href="../css/course.css">

</head>
<body ng-app="myApp">
	
	<nav class="main-nav">
		<ul>
			<li class="home active"><a href="index.html">home</a></li>
			<li><a href="views/course.html">course</a></li>
			<li><a href="views/about.html">about us</a></li>
			<li><a href="">login</a></li>
		</ul>
	</nav>


	<div class="container">

	    <div class="row basic">
	    	<div class="page-header">
  			<h1>Example page header <small>Subtext for header</small></h1>
			</div>
	    	<div class="col-md-4">
			    <div class="thumbnail">
			    	<img src="..." alt="...">
			    	<div class="caption">
			        	<h3>Thumbnail label</h3>
			        	<p>...</p>
			        	<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
			      </div>
			    </div>
			</div>
			<div class="col-md-4">
			    <div class="thumbnail">
			      	<img src="..." alt="...">
			      	<div class="caption">
			        	<h3>Thumbnail label</h3>
			        	<p>...</p>
			        	<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
			      	</div>
			    </div>
			</div>
			<div class="col-md-4">
			    <div class="thumbnail">
			      	<img src="..." alt="...">
			      	<div class="caption">
			        	<h3>Thumbnail label</h3>
			        	<p>...</p>
			        	<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
			      	</div>
			    </div>
			</div>


			<div class="col-md-4 col-md-offset-4">
			        	<p class="seemore"><a href="#" class="btn btn-default" role="button">See More</a></p>
			      	
			</div>

	    </div>
	  	
	  	<div class="row intensive">
	      	<div class="page-header">
  			<h1>Example page header <small>Subtext for header</small></h1>
			</div>
			<div class="thumbnail intensive-course">
				<div class="row">
					<div class="col-md-4">
					    <div>
					    	<img src="..." alt="...">
					    </div>
					</div>
					<div class="col-md-8">
						<div>
					    	<p>คอร์ส กินติม</p>
					    	<p>testtestestesetest</p>
					    	<p>tesetesetsetestesetsetsetse</p>

					    </div>

					</div>	
				</div>
							
			</div>


<div class="thumbnail intensive-course">
				<div class="row">
					<div class="col-md-4">
					    <div>
					    	<img src="..." alt="...">
					    </div>
					</div>
					<div class="col-md-8">
						<div>
					    	<p>คอร์ส กินติม</p>
					    	<p>testtestestesetest</p>
					    	<p>tesetesetsetestesetsetsetse</p>

					    </div>

					</div>	
				</div>
							
			</div>


<div class="thumbnail intensive-course">
				<div class="row">
					<div class="col-md-4">
					    <div>
					    	<img src="..." alt="...">
					    </div>
					</div>
					<div class="col-md-8">
						<div>
					    	<p>คอร์ส กินติม</p>
					    	<p>testtestestesetest</p>
					    	<p>tesetesetsetestesetsetsetse</p>

					    </div>

					</div>	
				</div>
							
			</div>


<div class="thumbnail intensive-course">
				<div class="row">
					<div class="col-md-4">
					    <div>
					    	<img src="..." alt="...">
					    </div>
					</div>
					<div class="col-md-8">
						<div>
					    	<p>คอร์ส กินติม</p>
					    	<p>testtestestesetest</p>
					    	<p>tesetesetsetestesetsetsetse</p>

					    </div>

					</div>	
				</div>
							
			</div>


<div class="thumbnail intensive-course">
				<div class="row">
					<div class="col-md-4">
					    <div>
					    	<img src="..." alt="...">
					    </div>
					</div>
					<div class="col-md-8">
						<div>
					    	<p>คอร์ส กินติม</p>
					    	<p>testtestestesetest</p>
					    	<p>tesetesetsetestesetsetsetse</p>

					    </div>

					</div>	
				</div>
							
			</div>



				




			      	
			</div>

	    </div> 

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	
</body>
</html>