<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>CourseVillage</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<link rel="stylesheet" href="../css/detail.css">

</head>
<body ng-app="myApp">
	
	<nav class="main-nav">
		<ul>
			<li class="home active"><a href="index.html">home</a></li>
			<li><a href="views/course.html">course</a></li>
			<li><a href="views/about.html">about us</a></li>
			<li><a href="">login</a></li>
		</ul>
	</nav>


	<div class="container">

	    <div class="basic">
	    	<div class="page-header">
	    	<div class="row">
	    		
	    	</div>
		    	<p>
		    		<h1>ชื่อ กินติม <p class="text-right">ราคา 2,500 ฿</p></h1>
		    	</p>
	  			
			</div>
			<center><img src="../img/inten02.png"></center>
			<div class="row">
				<div class="col-md-2 col-md-offset-2"><h5>รายละอียด</h5></div>
				<div class="col-md-5 col-md-offset-1"><h5>ทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบ</h5></div>
			</div>
			<div class="row">
				<div class="col-md-2 col-md-offset-2"><h5>สถานะ</h5></div>
				<div class="col-md-5 col-md-offset-1"><h5>ทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบ</h5></div>
			</div>
			<div class="row">
				<div class="col-md-2 col-md-offset-2"><h5>เวลา</h5></div>
				<div class="col-md-5 col-md-offset-1"><h5>ทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบ</h5></div>
			</div>

			<div class="row">
				<div class="col-md-2 col-md-offset-2"><h5>อุปกรณ์</h5></div>
			</div>

			<div class="row">
				<div class="col-md-2 col-md-offset-1"><img src="../img/home.png" class="img-circle tool"></div>
				<div class="col-md-2"><img src="../img/home.png" class="img-circle tool"></div>
				<div class="col-md-2"><img src="../img/home.png" class="img-circle tool"></div>
				<div class="col-md-2"><img src="../img/home.png" class="img-circle tool"></div>
				<div class="col-md-2"><img src="../img/home.png" class="img-circle tool"></div>
			</div>





			      	
		</div>

	</div> 

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	
</body>
</html>