<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>CourseVillage</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<link rel="stylesheet" href="../css/detail.css">

</head>
<body ng-app="myApp">
	
	<nav class="main-nav">
		<div class="logo"><a href="../index.html"><img src="../img/logo.png"></a></div>
		<ul>
			<li class="home"><a  href="../index.html">Home</a></li>
			<li><a href="course.html">Course</a></li>
			<li><a href="#">About us</a></li>
			<li><a href="profile.html">Profile</a></li>
			<li><a href="../index.html">Logout</a></li>
		</ul>
	</nav>


	<div class="container">

	    <div class="basic">
	    	<div class="page-header">
	    	<div class="row page-name">
	    		<div class="col-md-4"> <h2>ผ้าพันคอถักได้ไม่ยาก</h2></div>

	    		<div class="col-md-8"> <h2 class="text-right">ราคา 2,500 ฿</h2></div>
	    	</div>
	  			
			</div>

			<div class="row">
	    		<div class="col-md-5"> <img src="../img/detailpic.jpg"></div>

	    		<div class="col-md-7"> <img src="../img/detailList.png"></div>
	    	</div>



			<div class="row">
				<div class="col-md-2 col-md-offset-2"><h5>รายละอียด</h5></div>
				<div class="col-md-5 col-md-offset-1"><h5>ทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบ</h5></div>
			</div>
			<div class="row">
				<div class="col-md-2 col-md-offset-2"><h5>สถานะ</h5></div>
				<div class="col-md-5 col-md-offset-1"><h5>ทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบ</h5></div>
			</div>
			<div class="row">
				<div class="col-md-2 col-md-offset-2"><h5>เวลา</h5></div>
				<div class="col-md-5 col-md-offset-1"><h5>ทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบทดสอบ</h5></div>
			</div>

			<div class="row">
				<div class="col-md-2 col-md-offset-2"><h5>อุปกรณ์</h5></div>
			</div>

			<div class="row">
				<div class="col-md-2 col-md-offset-1"><img src="../img/home.png" class="img-circle tool"></div>
				<div class="col-md-2"><img src="../img/home.png" class="img-circle tool"></div>
				<div class="col-md-2"><img src="../img/home.png" class="img-circle tool"></div>
				<div class="col-md-2"><img src="../img/home.png" class="img-circle tool"></div>
				<div class="col-md-2"><img src="../img/home.png" class="img-circle tool"></div>
			</div>





			      	
		</div>

	</div> 

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	
</body>
</html>