<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>CourseVillage</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<link rel="stylesheet" href="../css/detail.css">

<link rel="stylesheet" type="text/css" href="../libs/Semantic-UI-CSS-master/semantic.min.css">

</head>
<body ng-app="myApp">
	
	<nav class="main-nav">
		<div class="logo"><a href="../index.html"><img src="../img/logo.png"></a></div>
		<ul>
			<li class="home"><a  href="../index.html">Home</a></li>
			<li><a href="course.html">Course</a></li>
			<li><a href="about.html">About us</a></li>
			<li><a href="profile.html">Profile</a></li>
			<li><a href="../index.html">Logout</a></li>
		</ul>
	</nav>


	<div class="container">

	    <div class="basic">
	    	<div class="page-header">
	    	<div class="row page-name">
	    		<div class="col-md-4"> <h1>ผ้าพันคอถักได้ไม่ยาก</h1></div>

	    		<div class="col-md-8"> <h1 class="text-right">ราคา 2,500 ฿</h1></div>
	    	</div>
	  			
			</div>

			<div class="row">
	    		<div class="col-md-5"> <img class="pic" src="../img/detailpic.jpg"></div>

	    		<div class="col-md-7"> <img src="../img/detailList.png"></div>

	    		<div class="col-md-7">
  <button class="ui inverted orange button" style="
    margin-top: 20px;
    margin-left: 130px;
" data-toggle="modal" data-target="#myModal">ซื้อคอร์ส</button></div>
	    	</div>





			      	
		</div>

	</div> 






  <!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Login</h4>
        </div>
        <div class="modal-body">
	        <div class="input-group input-group-lg">
			  <span class="input-group-addon" id="sizing-addon1">Username</span>
			  <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1">
			</div>
			<br/>
			<div class="input-group input-group-lg">
			  <span class="input-group-addon" id="sizing-addon1">Password</span>
			  <input type="password" class="form-control" placeholder="Password" aria-describedby="sizing-addon1">
			</div>
			<br/>
			<!-- <div class="input-group input-group-lg">
			  <span class="input-group-addon" id="sizing-addon1">Email</span>
			  <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1">
			</div> -->
			<div class="login-btn">
				<a href="views/course.html"><button type="button" class="btn btn-success">Login</button></a>
			</div>
        </div>
      </div>
      
    </div>
  </div>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	
</body>
</html>